<!DOCTYPE HTML>
<html>

<head>
	<title>TONS: Graf-visualisering</title>
</head>

<body>
	<h2>Graf-visualisering</h2>
	<p>Graf af temperaturhistorik over en givet periode</p>
	<img src="graph/pic"/>
</body>

</html>